<!DOCTYPE html>
<html lang="zh-cn" ng-app="App">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>m-mall-admin</title>
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="Description" content="">
	<base href="/">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<link href="build/assets/css/app.css?v={{ time }}" rel="stylesheet">
</head>
<body ng-controller="AppController as app">
	{{{ body }}}
	<div class="skyvow-spinner">loading...</div>
	<script src="build/assets/js/vendor.js?v={{ time }}"></script>
	<script src="build/assets/js/app.js?v={{ time }}"></script>
</body>
</html>