<ion-view view-title="所有分类">
	<ion-nav-buttons side="right">
		<a class="button button-clear icon icon ion-ios-plus-empty" ui-sref="web.classify.add"></a>
	</ion-nav-buttons>
	<ion-content ng-class="{'no-footer': tabsHidden}">
		<ion-refresher pulling-icon="ion-arrow-down-c" pulling-text="下拉刷新" on-refresh="vm.doRefresh()">
		</ion-refresher>
		<ion-list>
			<ion-item ng-repeat="item in vm.classify.items" ui-sref="web.classify.detail({id: item._id})">
				<h2>{{ item.name }}</h2>
				<p>{{ item.remark }}</p>
				<ion-option-button class="button-calm icon ion-edit" ui-sref="web.classify.edit({id: item._id})"></ion-option-button>
				<ion-option-button class="button-assertive icon ion-close" on-tap="vm.classify.delete({id: item._id})"></ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="vm.classify.paginate.hasNext" on-infinite="vm.loadMore()">
		</ion-infinite-scroll>
		<prompt-message ng-if="!vm.classify.items.length" text="暂无分类"></prompt-message>
	</ion-content>
</ion-view>