<ion-view view-title="修改密码">
	<ion-nav-buttons side="right">
	      <button class="button" on-tap="vm.submitForm(form.$valid)">保存</button>
	</ion-nav-buttons>
	<ion-content ng-class="{'no-footer': tabsHidden}">
		<form name="form" novalidate>
			<div class="weui-cells weui-cells_form">
		        <div class="weui-cell">
		            <div class="weui-cell__hd">
		            	<label class="weui-label">旧密码</label>
		            </div>
		            <div class="weui-cell__bd">
		                <input name="oldpwd" class="weui-input" type="password" placeholder="请输入旧密码" ng-model="vm.form.oldpwd" minlength="6" maxlength="20" required>
		            </div>
		        </div>
		        <div class="weui-cell">
		            <div class="weui-cell__hd">
		            	<label class="weui-label">新密码</label>
		            </div>
		            <div class="weui-cell__bd">
		                <input name="newpwd" class="weui-input" type="password" placeholder="请输入新密码" ng-model="vm.form.newpwd" minlength="6" maxlength="20" required>
		            </div>
		        </div>
		        <div class="weui-cell">
		            <div class="weui-cell__hd">
		            	<label class="weui-label">确认密码</label>
		            </div>
		            <div class="weui-cell__bd">
		                <input name="confpwd" class="weui-input" type="password" placeholder="请确认密码" ng-model="vm.form.confpwd" minlength="6" maxlength="20" required>
		            </div>
		        </div>
		    </div>
		    <div class="weui-cells__tips">提示：密码长度6-20位</div>
		</form>
	</ion-content>
</ion-view>